@import "../_variables.less";

.main-nav {
  position: fixed;
  top: 0;
  right: -100%;
  background: @menuBackColor;
  //background: linear-gradient(to bottom, @topBackColor 0%, rgba@topBackColor @topHeight, @menuBackColor @topHeight+1, @menuBackColor 100%);
  z-index: 1000;
  color: @menuTextColor;
  height: 100%;
  transition: right 0.4s ease 0s;
  overflow: hidden;
  overflow-y: auto;

  &.show {
    right: 0;
  }

  .top {
    height: @topHeight;
    line-height: @topHeight;
    font-size: @topFontSize;
  }

  ul {
    list-style: none;

    li {
      padding: 0 @menuPaddingX @menuPaddingY;
      min-width: @menuMinWidth;
      width: @menuWidth;
      max-width: @menuMaxWidth;
      line-height: @menuLineHeight;

      &:last-child {
        padding-bottom: @menuPaddingY;
      }

      &.header {
        color: @menuHeaderColor;
        font-weight: bold;
        padding-top: @menuPaddingHeader;
      }

      a {
        color: @menuTextColor;
        text-decoration: none;
      }
    }
  }
}