@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Open+Sans:400,700");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");
/* == Colors == */
/* == Screen Sizes == */
/* == Sizes == */
body,
html,
header,
div,
nav,
main,
ul,
li,
h1,
h2,
p,
input,
label,
span {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body,
html {
  height: 100%;
  width: 100%;
  font-size: 16px;
  line-height: 1.8rem;
  color: #404040;
  background-color: #b2b2a9;
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
}
.main-wrapper {
  height: 100%;
  overflow: auto;
  background-color: #eeeeec;
}
.main-wrapper,
.main-wrapper .top-header {
  width: 100%;
  min-width: 320px;
  max-width: 480px;
  margin: 0 auto;
}
.main-wrapper .top-header {
  height: 3.5rem;
  line-height: 3.5rem;
  background-color: #000000;
  color: #eeeeec;
  padding: 0 1rem;
  font-family: 'Roboto Condensed', sans-serif;
  position: fixed;
  top: 0;
}
.main-wrapper .top-header.glued {
  background-color: rgba(0, 0, 0, 0.8);
}
.main-wrapper .top-header h1 {
  font-size: 1.5rem;
  display: inline;
}
.main-wrapper .top-header h1.left-menu {
  padding-left: 2rem;
}
.main-wrapper .top-header .nav-icon-wrapper {
  position: absolute;
  right: 0;
  display: inline-block;
  padding: 0 1rem;
  cursor: pointer;
}
.main-wrapper .top-header .nav-icon-wrapper .nav-icon {
  margin-left: 1.5rem;
  font-size: 1.5rem;
}
.main-wrapper .top-header .nav-icon-wrapper .nav-icon:focus,
.main-wrapper .top-header .nav-icon-wrapper .nav-icon:active {
  border: none;
}
.main-wrapper .top-header .nav-icon-wrapper.left {
  left: 0;
}
.main-wrapper .top-header .nav-icon-wrapper.left .nav-icon {
  margin-left: auto;
  margin-right: 1.5rem;
}
.main-wrapper .main-content {
  padding: 4.5rem 1rem 1rem;
}
.main-wrapper .main-content h2,
.main-wrapper .main-content p,
.main-wrapper .main-content div,
.main-wrapper .main-content ul,
.main-wrapper .main-content > input {
  margin-bottom: 1rem;
}
.main-wrapper .main-content div.card,
.main-wrapper .main-content ul {
  box-shadow: 0 0.1rem 0.2rem 0 #b2b2a9;
  background-color: #e2e2df;
  padding: 1rem;
}
.main-wrapper .main-content div.card li,
.main-wrapper .main-content ul li {
  padding: 0.25rem;
}
.main-wrapper .main-content > ul {
  list-style: none;
}
/* == Colors == */
/* == Screen Sizes == */
/* == Sizes == */
.main-nav {
  position: fixed;
  top: 0;
  right: -100%;
  background: #262626;
  z-index: 1000;
  color: #e2e2df;
  height: 100%;
  transition: right 0.4s ease 0s;
  overflow: hidden;
  overflow-y: auto;
}
.main-nav.show {
  right: 0;
}
.main-nav .top {
  height: 3.5rem;
  line-height: 3.5rem;
  font-size: 1.5rem;
}
.main-nav ul {
  list-style: none;
}
.main-nav ul li {
  padding: 0 2rem 1rem;
  min-width: 240px;
  width: 288px;
  max-width: 360px;
  line-height: 1.2rem;
}
.main-nav ul li:last-child {
  padding-bottom: 1rem;
}
.main-nav ul li.header {
  color: #fafaf9;
  font-weight: bold;
  padding-top: 0.75rem;
}
.main-nav ul li a {
  color: #e2e2df;
  text-decoration: none;
}
input,
select {
  height: 2rem;
  line-height: 1.8rem;
  font-size: 1rem;
  width: 100%;
  border: 0.1rem solid #e2e2df;
  padding: 0 0.5rem;
  vertical-align: text-bottom;
  color: #404040;
  background-color: #fafaf9;
}
div.card input,
div.card select,
ul input,
ul select {
  border: 0.1rem solid #d6d6d1;
}
input:focus,
select:focus {
  outline: none;
}
input,
select,
div.group {
  border-radius: 0.25rem;
}
input[type="text"],
input[type="password"] {
  width: 100%;
}
input[type="checkbox"],
input[type="radio"] {
  display: none;
}
input[type="checkbox"] + label:before,
input[type="radio"] + label:before {
  width: 1.2rem;
  content: '\f096';
  display: inline-block;
  font-family: FontAwesome, sans-serif;
  vertical-align: middle;
  color: #8e8e80;
}
input[type="checkbox"]:checked + label:before,
input[type="radio"]:checked + label:before {
  content: '\f046';
}
input[type="radio"] + label:before {
  content: '\f10c';
}
input[type="radio"]:checked + label:before {
  content: '\f192';
}
input[type="button"],
input[type="submit"],
input[type="reset"] {
  background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
}
input[type="button"]:active,
input[type="submit"]:active,
input[type="reset"]:active {
  background: linear-gradient(to bottom, #e5e5e5 0%, #d0d0d0 100%);
}
div.group {
  display: table;
  table-layout: fixed;
  width: 100%;
  border: 0.1rem solid #e2e2df;
  overflow: hidden;
}
div.group span {
  display: table-cell;
  border-right: 0.1rem solid #e2e2df;
  line-height: 1.2rem;
  border-radius: 0;
}
div.group span:last-child {
  border-right: none;
}
div.group span input {
  border: none;
  margin: 0;
  padding: 0;
  text-align: center;
  border-radius: 0;
}
div.group span input + label {
  display: none;
}
div.group input[type="checkbox"],
div.group input[type="radio"] {
  display: none;
}
div.group input[type="checkbox"] + label,
div.group input[type="radio"] + label {
  display: table-cell;
  text-align: center;
  background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  font-size: 1rem;
  line-height: 1.8rem;
  border-right: 0.1rem solid #e2e2df;
}
div.group input[type="checkbox"] + label:last-child,
div.group input[type="radio"] + label:last-child {
  border: none;
}
div.group input[type="checkbox"] + label:before,
div.group input[type="radio"] + label:before {
  display: none;
}
div.group input[type="checkbox"]:checked + label,
div.group input[type="radio"]:checked + label {
  background: linear-gradient(to bottom, #e5e5e5 0%, #d0d0d0 100%);
}
.input input + label {
  font-size: 0.75rem;
  position: relative;
  top: -0.25rem;
  padding-left: 0.5rem;
  display: none;
}
